.idea
static/uploadfile
main.exe
go-admin
temp/
!temp
vendor
config/settings.dev.yml
go-admin
middleware/demo.go
config/settings.dev.b.yml
temp/logs

mariogobak

*.png
# 忽略所有 CSV 文件
*.csv

# 忽略所有 DBF 文件
*.dbf

*.out
*.json
*.json5
*.xlsx

*.txt
*.records
*.lnk
*.txt
*.csv.read
*.dat

*.log


*.pyc
__pycache__/
*.so
*.dylib
*.log
*.tmp
*.bak
*.zip
*.pdf
*.xls
*.xlsx
robot_quick_start
*.pid
